
.tag-list {
  display: flex;
  align-items: center;
  margin: 0 2px 13px 0;
  li {
    display: inline-block;
    padding: 2px 6px;
    font-size: 8px;
    margin: 0 2px 0 0;
    border-radius: 16px;
  }

  .blog {
    background: #ecf0f2;
    color: #000080;
  }

  .til {
    background: #EFF5F5;
    color: #497174;
  }
}
