@import '../../styles/variables.scss';

.top {
  .link {
    display: inline-block;
    font-size: 28px;
    padding-top: 8px;
    color: $top-header-text-color;
    opacity: 0.7;
    margin-left: 20px;
    margin-right: 8px;
    font-weight: 800;
  }
}
