body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;

  // home
  .home-header {
    color: $dark-gray;
  }

  .bio {
    .author-name-content {
      background-color: $light-category-border-color;
    }
    .author-introduction {
      color: $middle-gray;
    }
    a {
      color: $light-link-color;
    }
  }

  .category-container {
    .item {
      backdrop-filter: blur(5px);
      border: 1px solid $light-category-border-color;
      a {
        color: $light-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $light-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $light-category-highlight-text-color;
      }
    }
  }

  .post-container {
    a {
      color: $text-decoration-color;
      text-decoration: underline;
      text-decoration-color: $text-decoration-color;

      &:hover {
        text-decoration: none;
      }
    }

    :not(pre) > code[class*='language-'] {
      padding: 0.3em;
      margin: 0 0.2rem;
      font-size: 0.75em;
      border-radius: 0.3em;
      white-space: normal;
      background: $inline-dimmed-color;
      color: $inline-text-color;
    }

    deckgo-highlight-code {
      margin: 2em 0;
    }
  }

  .thumbnail {
    h3 {
      color: $dark-gray;
    }
    p {
      color: $dark-gray;
    }
    &:hover {
      text-shadow: $light-hover-text-shadow;
    }
  }

  .footer {
    color: $light-gray;
    a {
      color: $dark-gray;
    }
  }

  blockquote {
    color: #3d3838;
    border-left: 4px solid #3d3838;
  }

  // post
  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
}
