// app
$theme-gradient: linear-gradient(72deg, #43cea2, #185a9d);
$top-header-text-color: #d0d0d0;

/**
 * @light theme
 */

$light-text-color: #555555;

// body
$light-background-color: #f8f7f6;
$light-text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
$light-hover-text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

// index
$dimmed-color: #eef5db;
$light-link-color: #000080;
$dark-gray: #444444;
$middle-gray: #888888;
$light-gray: #aaa;

//post-container
$text-decoration-color: #0ea5e9;

// blog-templates
$navigator-text-color: #cc007a;
$navigator-background-color: #fceff7;
$blockquote-text-color: #999;

// code
$inline-dimmed-color: #f0f0f0;
$inline-text-color: #ec4899;
$dark-inline-text-color: #eeeeee;

// category
$light-category-border-color: #cdd0d1;
$light-category-highlight-border-color: #909da1;
$light-category-background-color: #f4f7f8;
$light-category-text-color: #777777;
$light-category-highlight-text-color: #666666;
$light-category-item-color: #fff;

/**
 * @dark theme
 */
$dark-background-color: #0f0f0f;
$dark-link-color: #bdc3c7;

$dark-lightest-font-color: #fff;
$dark-gray-font-color: #d6e0f0;
$dark-light-font-color: #bfbfbf;
$dark-middle-font-color: #d8d7d7;

$dark-text-shadow: 0 0 0.1px rgba(189, 189, 189, 0.3);
$dark-hover-text-shadow: 0 0 6px rgba(189, 189, 189, 0.2);

$dark-category-item-color: #282c35;
$dark-category-background-color: #161617;

$dark-category-border-color: rgb(56, 54, 54);
$dark-category-text-color: #d8d7d7;

$dark-category-highlight-border-color: #666;
$dark-category-highlight-text-color: #fff;

// yellow blockquote colors
$light-yellow-bg-color: rgba(255, 251, 235, 0.95);
$light-yellow-border-color: #f59e0b;
$light-yellow-text-color: #a16207;

$dark-yellow-bg-color: rgba(45, 35, 5, 0.85);
$dark-yellow-border-color: #fbbf24;
$dark-yellow-text-color: #d4af37;
