@import 'styles/variables.scss';

.thumbnail {
  display: block;
  padding-bottom: 4px !important;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  .description-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  h3 {
    font-size: 1.1rem;
    // margin: 1rem 0 !important;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.4;
    color: #333333;
  }
}

.thumbnail.visible {
  opacity: 1;
}
