@import 'styles/variables.scss';
@import 'styles/light-theme.scss';
@import 'styles/dark-theme.scss';
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css);

body {
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  background-color: $light-background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}
